.edit-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-image: url('../../images/edit-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  transition: opacity .5s;
}

.edit-btn:hover {
  opacity: .6;
}

@media all and (max-width: 450px) {
  .edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
